li.dev-item{
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.02);
    border-radius: 2px;
    padding: 20px;
}

li.dev-item header{
    display:flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item header img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

li.dev-item header .user-info{
    margin-left: 10px;
}

li.dev-item p{
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}

li.dev-item p.empty{
    color: #d1d1d1;
}

li.dev-item a{
    color: #8E4DFF;
    font-size: 14px;
    text-decoration: none;
}

li.dev-item a:hover{
    color: #5A2EA6;
}

li.dev-item div.actions{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 2s;
}

li.dev-item:hover div.actions{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    opacity: 0.6;
}

li.dev-item div.actions span{
    padding: 0 2px;
    cursor: pointer;
}


/* EDITOR MODE */

li.dev-item header .user-info-edit input, li.dev-item input{
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border: 1px solid #eee;
    border-left: 1px solid #eee;
    padding-left: 2px;
}

li.dev-item header .user-info-edit input#name{
    font-weight: bold;
}